article {
    padding: 5px;
    border: dotted 3px #ff006e;
    margin-top: 5px;
}

header {
    padding: 0px;
    text-align: center;
}

aside {
    margin-top: 5px;
    background-color: #f0eaea;
    padding: 5px;
    text-align: center;
    font-style: italic;
    border: double 3px #b200ff;
}

section {
    padding: 5px;
    border: dashed 3px #0026ff;
    margin-top: 5px;
}

footer {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

nav {
    text-align: center;
}

ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: 'calibri';
    text-align: justify;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 1px;
}

.grid_header {
    background-color: #4633ff;
    color: white;
    grid-column: 1 / span 3;
    text-align: center;
    margin: 5px;
    padding: 25px;
}

.grid_leftaside {
    background-color: lightgray;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    margin: 5px;
    padding: 25px;
}

.grid_rightaside {
    background-color: lightgray;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    margin: 5px;
    padding: 25px;
}

.grid_main {
    background-color: azure;
    grid-column: 2;
    grid-row: 2;
    margin: 5px;
    padding: 25px;
}

.grid_footer {
    background-color: #4633ff;
    color: white;
    grid-column: 1 / span 3;
    text-align: center;
    margin: 5px;
    padding: 25px;
}

.grid_data {
    background-color: #4633ff;
    color: white;
    display: grid;
    margin: 5px 15px;
    grid-template-columns: 1fr 3fr;
}

.grid_data label,
.grid_data input,
.grid_data select {
    margin: 5px;
    padding: 5px;
    line-height: 15px;
}

.grid_data button {
    background-color: #13ab15;
    border-radius: 10px;
    color: white;
    margin: 5px 25%;
    padding: 15px;
}

.grid_data button:hover {
    background-color: #0dd310;
}

@media screen and (max-width: 700px) {
    .grid_data {
        grid-template-columns: 1fr;
    }
}